.btn {
  background-color: $color-white;
  border: none;
  width: max-content;
  color: $color-purple;
  cursor: pointer;
  font-family: inherit;
  font-size: $font-size-small;
  font-weight: bold;
  padding: 2px;
  border-radius: 30px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.35s ease;
  span {
    border-radius: 30px;
    transition: background-color 0.35s ease;
  }
  &_grey {
    color: $color-dark-50;
  }
  // Овальная кнопка
  &_round {
    background: $gradient-purple;
    display: flex;
    flex-direction: column;
    span {
      padding: 1.5rem 2.25rem;
      color: $color-white;
    }
    &:hover {
      span {
        background-color: $color-white;
        color: $color-purple;
      }
    }
  }
  // Кнопка с бордером
  &_outline {
    background: $gradient-purple;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-radius: 60px;
    &:hover {
      span {
        background-color: transparent;
        color: $color-white;
      }
    }
    span {
      border-radius: 130px;
      padding: 1.5rem 2.25rem;
      background-color: $color-white;
      transition: background-color 0.35s ease;
    }
    // Серый бордер
    &-light {
      background: $gradient-purple-light;
      span {
        opacity: 100%;
      }
    }
  }

  // Серая овальная кнопка
  &_light {
    opacity: 0.5;
  }
  &_big {
    width: 100%;
    span {
      width: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i {
      position: absolute;
      right: 10px;
      color: $color-white;
    }
    &:hover {
      i {
        color: $color-purple;
      }
    }
  }
  &:hover {
    transform: translateY(-5px);
    background-color: $color-white;
    box-shadow: 0px 5px 10px rgba(31, 32, 65, 0.25);
  }
}
