.btn {
  background-color: transparent;
  border: none;
  color: $color-purple;
  cursor: pointer;
  font-family: inherit;
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  &_grey {
    color: $color-dark-50;
  }
  // Овальная кнопка
  &_round {
    padding: 1.75rem 2.5rem;
    background: $gradient-purple;
    border-radius: 2.75rem;
    color: $color-white;
  }
  // Кнопка с бордером
  &_outline {
    background: $gradient-purple;
    border-radius: 100px;
    padding: 2rem 2px;
    span {
      border-radius: 2.75rem;
      padding: 1.75rem 2.5rem;
      background-color: $color-white;
    }
    // Серый бордер
    &-light {
      background: $gradient-purple-light;
      span {
        opacity: 100%;
      }
    }
  }

  // Серая овальная кнопка
  &_light {
    opacity: 0.5;
  }
  &_big {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      position: absolute;
      right: 10px;
    }
  }
}
