include ../../formElements/btn/btn
include ../../formElements/input/input

mixin login
  form.form.form_card
    h1.h1 Войти
    +input("Email","Email")
    +input("text","Пароль")
    +btn_big('войти')
    .form__flex-container
      p Нет аккаунта на Toxin?
      +btn_outline('Войти')
