include ../../formElements/btn/btn
include ../../formElements/input/input

mixin login
  form.form.card
    h1.h1 Войти
    +input("Email","Email")
    +input("text","Пароль")
    +btn_big('войти', 'btn_round u-mt-10')
    .form__container.form__container_space-between.form__container_align-center.u-mt-10
      p Нет аккаунта на Toxin?
      +btn_outline('Войти')
