.form__date-picker {
  display: flex;
  & > :first-child {
    margin-right: 6.25%;
  }
  & > .form__label {
    display: flex;
    flex-grow: 1;
  }
}
// Модификатор для календаря
.form__field_date {
  position: relative;
  font-weight: normal;
}
