.form__date-picker {
  display: flex;
  & > :first-child {
    margin-right: 20px;
  }
}
// Модификатор для календаря
.form__field_date {
  width: 18.75rem;
  position: relative;
  font-weight: normal;
}
