@font-face {
  font-family: "Montserrat";

  src: url("../../fonts/Montserrat-Regular.ttf");

  font-weight: normal;

  font-style: normal;
}
@font-face {
  font-family: "Montserrat:wght@700";

  src: url("../../fonts/Montserrat-Bold.ttf");

  font-weight: bold;

  font-style: normal;
}
@font-face {
  font-family: "Quicksand";

  src: url("../../fonts/Quicksand-Regular.ttf");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Quicksand:wght@700";

  src: url("../../fonts/Quicksand-Bold.ttf");

  font-weight: bold;

  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-family: $font-family-default;
  // font-size: calc(8px + (16 - 8) * ((100vw - 360px) / (2560 - 360)));
  font-size: 62.5%;
  // @include respond(desk) { // 1600px
  //   font-size: 43.75%;       // 1rem = 7px 7/16 43.75%
  // }

  // @include respond(retina) {
  //     font-size: 62.5%;       // 1rem = 10px 10/16 62.5%
  // }
}

body {
  box-sizing: border-box;
  // @include respond(tab-port) {
  //     padding: 0;
  // }
}

ul,
ol {
  list-style: none;
}
fieldset {
  border: none;
}

.center {
  grid-column: 2/3;
}

::selection {
  // background-color: $color-primary;
  // color: $color-white;
}
