*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-family: 'Montserrat', sans-serif;
  // font-size: calc(8px + (16 - 8) * ((100vw - 360px) / (2560 - 360)));
  font-size: 50%;
  // @include respond(desk) { // 1600px
  //   font-size: 43.75%;       // 1rem = 7px 7/16 43.75%
  // }

  // @include respond(retina) {
  //     font-size: 62.5%;       // 1rem = 10px 10/16 62.5%
  // }
}

body {
  box-sizing: border-box;
  // @include respond(tab-port) {
  //     padding: 0;
  // }
}

ul,
ol {
  list-style: none;
}

.center {
  grid-column: 2/3;
}

::selection {
  // background-color: $color-primary;
  // color: $color-white;
}
