.form {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 20px;
  height: fit-content;
}

.form_filter {
  grid-row-gap: 40px;
  width: 33.25rem;
}
.form__container {
  border: none;
  display: flex;
  position: relative;

  &_space-between {
    justify-content: space-between;
  }
  &_align-center {
    align-items: center;
  }
  &_column {
    flex-direction: column;
  }
}

.form__check-container {
  display: grid;
  grid-row-gap: 1.25rem;
}
