.form {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 20px;
  height: fit-content;
}

.form_card {
  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.2);
  padding: 5rem 3.75rem 3.75rem;
}
.form__btn {
  margin-top: 10px;
}

.form_filter {
  grid-row-gap: 40px;
  width: 33.25rem;
}
.form__container {
  border: none;
  display: flex;
  position: relative;

  &_space-between {
    justify-content: space-between;
  }
  &_align-center {
    align-items: center;
  }
  &_align-baseline {
    align-items: baseline;
  }
  &_column {
    flex-direction: column;
  }
}

.form__grid-container {
  display: grid;
  grid-gap: 10px;
}

.form__check-container {
  display: grid;
  grid-row-gap: 1.25rem;
}
