.u-box {
  display: flex;
}
.u-child-mr-20 {
  & :first-child {
    margin-right: 20px;
  }
}
.u-child-mb-14 {
  & :first-child {
    margin-bottom: 14px;
  }
}
.u-mt-10 {
  margin-top: 10px;
}
.u-mt-20 {
  margin-top: 20px;
}
.u-mt-30 {
  margin-top: 30px;
}
.u-mt-50 {
  margin-top: 50px;
}
.u-mt-100 {
  margin-top: 100px;
}
