mixin comment
  .comment
    img.comment__img(src="/img/avatar.png")
    h3.comment__name.h3 Мурад Сарафанов
    p.comment__date 5 дней назад
    +like('rating2')
    p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
