.like {
  -webkit-appearance: none;
  width: 5rem;
  height: 2.5rem;
  background-color: $color-white;
  border: solid 1px $color-dark-25;
  position: relative;
  background-clip: padding-box;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //! margin для презентации в UI kit, сам по себе не нужен
  margin-right: 1.25rem;
  icon,
  span {
    font-size: 1.25rem;
    // height: 1.25rem;
    color: $color-dark-25;
    transition: all .5s ease-out;
  }
}
.liked {
  border: solid 1px transparent;
  icon, span {
    color: $color-purple;
    // background-color: $color-purple;
  }
  icon {
    animation: heart .5s ease-out;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
