// Кнопка лайка
.like {
  -webkit-appearance: none;
  width: 4rem;
  height: 2rem;
  background-color: $color-white;
  border: solid 1px $color-dark-25;
  position: relative;
  background-clip: padding-box;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  // Сердечко и количество лайков
  icon,
  span {
    font-size: 1rem;
    color: $color-dark-25;
    transition: all 0.5s ease-out;
  }
}
// Класс добавляется через js при нажатии на кнопку
.liked {
  border: solid 1px transparent;
  icon,
  span {
    color: $color-purple;
    // background-color: $color-purple;
  }
  // Простая анимация сердечка при нажатии
  icon {
    animation: heart 0.5s ease-out;
  }
  // Градиент бордера кнопки
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: $gradient-purple;
  }
}
// Анимация сердечка
@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
