@import "../abstracts/*.scss";
@import "../base/*.scss";
@import "../../includes/cards/*/*.scss";
@import "../../includes/formElements/btn/btn";
@import "../../includes/formElements/date-picker/date-picker";
@import "../../includes/formElements/dropdown/dropdown";
@import "../../includes/formElements/icons/icons";
@import "../../includes/formElements/input/input";
@import "../../includes/formElements/radio-buttons/radio-buttons";
@import "../../includes/formElements/label/label";

.cards-grid {
  display: grid;
  grid-template-columns: 380px 380px 320px;
  column-gap: 4rem;
  margin-top: 6rem;
  margin-bottom: 30rem;
  justify-content: center;
  @include respond(desk) {
    margin-top: 5.6rem;
  }
  &__column {
    display: grid;
    grid-row-gap: 4rem;
    height: fit-content;
  }
}
