.form-elements-grid {
  display: grid;
  grid-template-columns: 320px 266px 266px;
  grid-column-gap: 11%;
  grid-row-gap: 100px;
  margin-top: 4rem;
  margin-bottom: 30rem;
  justify-content: center;
  @include respond(desk) {
    margin-top: 5.6rem;
  }
  &__column {
    display: grid;
    grid-row-gap: 4rem;
    height: fit-content;
    &_row-span-2 {
      grid-row: 2 / span 2;
    }
    &_span-2 {
      align-self: end;
      grid-column: 2 / span 2;
    }
  }
}

.form-elements-btn-grid {
  display: grid;
  grid-row-gap: 30px;
  .h3 {
    margin-bottom: -16px;
  }
  &__container {
    display: grid;
    grid-column-gap: 20px;
    grid-auto-flow: column;
    max-width: fit-content;
  }
}

.form-elements-flex-container {
  display: flex;
}

.form-elements-mb-16 {
  margin-bottom: 16px;
}
.form-elements-mb-14 {
  margin-bottom: 14px;
}

.form-elements-child-mb-14 {
  & :first-child {
    margin-bottom: 14px;
  }
}
.form-elements-child-mr-20 {
  & :first-child {
    margin-right: 20px;
  }
}
.form-elements-mt-10 {
  margin-top: 10px;
}
.form-elements-mt-20 {
  margin-top: 20px;
}
.form-elements-grid-gap-40 {
  row-gap: 40px;
}
#rating {
  .like:first-child {
    margin-right: 1rem;
  }
}
