.main {
  display: flex;
  margin-top: 10rem;
  justify-content: space-around;
  &__container {
    display: flex;
  flex-direction: column;
  width: 40rem;
  &>:not(:first-child) {
    margin-top: 3rem;
  }
  }
}
