.main {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100rem;
  flex-wrap: wrap;
  @include respond(desk) {
    align-items: baseline;
    margin: 18rem 9.72%;
    flex-direction: row;
  }
}
.main__container {
  display: flex;
  flex-direction: column;
  // width: 40rem;
  &:not(:first-child) {
    margin-top: 5rem;
  }
  @include respond(desk) {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  & > * {
    margin-top: 20px;
  }
  .u-mt-40 {
    margin-top: 40px;
  }

  .u-mt-100 {
    margin-top: 100px;
  }
}
.main__container_center {
  @include respond(desk) {
    margin-left: 126px;
  }
}
.main__container_right {
  @include respond(desk) {
    margin-left: 72px;
  }
}
