// Базовое поле инпута
.form__field {
  color: inherit;
  font-family: inherit;
  background: transparent;
  border: 1px solid $color-dark-50;
  border-radius: 4px;
  padding: $font-size-default;
  -webkit-appearance: none;
  width: 100%;
  // Placeholder
  &::placeholder {
    color: $color-dark-50;
    font-weight: 700;
  }
  // Hover, focus
  &:focus,
  &:hover {
    border: 1px solid $color-dark-75;
  }
  // Капс для masked date
  &[type="date"] {
    text-transform: uppercase;
  }
}
