// Базовое поле инпута
.form__field {
  color: inherit;
  width: 40rem;
  font-family: inherit;
  background: $color-white;
  border: 1px solid $color-dark-25;
  border-radius: 4px;
  padding: $font-size-default;
  padding-right: 0;
  -webkit-appearance: none;
  // Placeholder
  &::placeholder {
    color: $color-dark-25;
  }
  // Hover, focus
  &:focus,
  &:hover {
    border: 1px solid $color-dark-50;
  }
  // Капс для masked date
  &[type="date"] {
    text-transform: uppercase;
  }
  // Убрать элементы управления Chrome
  &[type="date"]::-webkit-inner-spin-button,
  &[type="date"]::-webkit-calendar-picker-indicator,
  &[type="date"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
  }
}

.form__container {
      display: flex;
      position: relative;
      border: none;
      &_space-between {
        justify-content: space-between;
      }
      &_column {
        flex-direction: column;
      }
    }
.form_filter {
    width: 33.25rem;
}
// .form {
//   &_filter {
//     width: 33.25rem;
//     & .form__icon {
//       &::after {
//         right: 5%;
//       }
//     }
//   }
//   &__box {
//     display: flex;
//     position: relative;
//     &_space-between {
//       justify-content: space-between;
//     }
//     &_column {
//       flex-direction: column;
//     }
//   }
//   &__label {
//     margin-bottom: 0.5rem;
//     &_mb-10 {
//       margin-bottom: 1.25rem;
//     }
//     &_mb-16 {
//       margin-bottom: 2rem;
//     }
//     &_mb-40 {
//       margin-bottom: 5rem;
//     }
//   }
//   &__field {
//     color: inherit;
//     height: 5.5rem;
//     width: 40rem;
//     font-family: inherit;
//     background: $color-white;
//     border: 1px solid $color-dark-25;
//     border-radius: 4px;
//     padding: $font-size-default;
//     padding-right: 0;
//     -webkit-appearance: none;
//
//     &::placeholder {
//       color: $color-dark-25;
//     }
//     &:focus,
//     &:hover {
//       border: 1px solid $color-dark-50;
//     }

//
// }
