.lightpick {
  font-family: Montserrat;
  padding: 3rem 2rem;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 40rem;
}
.lightpick__day.is-end-date.is-in-range, .lightpick__day.is-start-date.is-in-range.is-flipped {
  border-radius: 0;
    background-color: transparent;
    background-image: none;
  }

  .lightpick__day.is-start-date.is-in-range, .lightpick__day.is-end-date.is-in-range.is-flipped {
    border-radius: 0;
    background-color: transparent;
    background-image: none;
  }
.lightpick__month {
  padding: 0;
}

.lightpick__previous-action,
.lightpick__next-action,
.lightpick__close-action {
  background-color: transparent;
  color: $color-purple;
  margin: 0;
  & > * {
    pointer-events: none;
  }
}
.lightpick__month-title-bar {
  margin-bottom: 4rem;
}
.lightpick__month-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.375rem;
  color: #1f2041;
  & .lightpick__select-months {
    font-family: inherit;
    text-align-last: center;
    margin-right: 0.2rem;
  }
}
.lightpick__select-years {
  font-family: "Quicksand";
  font-size: inherit;
  font-weight: inherit;
}
.lightpick__days-of-the-week {
  margin-bottom: 1rem;
}
.lightpick__day-of-the-week {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: $color-purple;
}

.lightpick__day {
  color: $color-dark-50;
  font-size: 1.5rem;
}
.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {
  opacity: 1;
  color: $color-dark-25;
}



.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-today,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover
 {
  color: $color-white;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  z-index: 1;

}

.lightpick__day.is-today {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  &::before {
    border-radius: 0;
  }
}
.lightpick__day.is-end-date.is-in-range {
  &::before {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }
}

.lightpick__day.is-in-range {
  background-color: rgba(38, 139, 210, 0.1);
}
.lightpick__footer {
  // justify-content: space-around;
  margin-top: 2rem;
}
