include ../../formElements/btn/btn
include ../../formElements/date-filter/date-filter
include ../../formElements/input/input
include ../../formElements/label/label
include ../../formElements/radio-buttons/radio-buttons
mixin registration
  form.form.form_card
    h1.h1 Регистрация аккаунта
    .form__grid-container
      +input("text","Имя")
      +input("text","Фамилия")
      +radio-buttons
    +label('дата рождения')
        +date-filter('date-filter')
    .form__grid-container
      +label('данные для входа в сервис')
        +input("Email","Email")
      +input("text","Пароль")
      //- +switch('Получать спецпредложения')
    +btn_big('подобрать номер')
    .form__flex-container
      p Уже есть аккаунт на Toxin
      +btn_outline('Войти')
