.room-booking {
  &__heading {
    span {
      font-size: $font-size-default;
      margin-right: 0.5rem;
      &:last-child {
        font-family: $font-family-default;
        margin-left: 0.5rem;
        color: $color-purple;
        font-size: 1.6rem;
      }
    }
  }

  &__price {
    color: $color-dark-50;
    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  &__details {
    display: grid;
    grid-row-gap: 12px;
  }
  &__detail {
    display: flex;
    justify-content: space-between;
    span {
      display: flex;
      align-items: flex-start;
      width: 76%;
    }
  }
  &__icon {
    color: $color-dark-25;
    margin-left: 5px;
  }

  &__sum {
    border-bottom: 1px dotted $color-dark-25;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 6px;
    p {
      background-color: $color-white;
      margin-bottom: -6px;
    }
  }
}
