include ../../formElements/date-picker/date-picker

mixin room-booking
  form.form.form_card.room-booking
    .form__flex-container
      h1.h1.room-booking__heading
        span №
        =888
        span люкс
      p.room-booking__price
        span 9990₽
        =" в сутки"
    +date-picker('Прибытие', 'Выезд')
    #room-booking
    ul.room-booking__details
      li.room-booking__detail
        span 9990₽ x 4суток
        ='39960₽'
      li.room-booking__detail
        span Сбор за услуги: скидка 2 179₽
          i.room-booking__icon.material-icons-outlined info
        ='0₽'
      li.room-booking__detail
        span Сбор за дополнительные услуги
            i.room-booking__icon.material-icons-outlined info
        ='300₽'
    .room-booking__sum
      p.h2 Итого
      p.h2 38 081₽
    +btn_big('забронировать')
