.radio-buttons {
  display: flex;
  &__label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:first-child {
      margin-right: 20px;
    }
  }
  &__checkbox {
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    -webkit-appearance: none;
    top: 0;
    left: 0;
    &:hover {
      & + .radio-buttons__label-text::before {
        border-color: $color-purple;
      }
    }
    // Состояние чекбокса
    &:checked {
      & + .radio-buttons__label-text {
        color: $color-dark-100;
        &::after {
          opacity: 1;
        }
        &::before {
          border-color: $color-purple;
        }
      }
    }
  }
  &__label-text {
    display: flex;
    align-items: center;
    color: $color-dark-75;
    &::before {
      pointer-events: none;
      align-self: baseline;
      content: "";
      border: 1px solid $color-dark-50;
      border-radius: 50%;
      padding: 0.9rem;
      margin-right: 1rem;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    // Кружочек
    &::after {
      content: "";
      opacity: 0;
      pointer-events: none;
      position: absolute;
      border-radius: 50%;
      padding: 0.6rem;
      top: 20%;
      left: 0.4rem;
      background: $gradient-purple;
    }
  }
}
