mixin radio-buttons
  .radio-buttons
    label.radio-buttons__label
      input.radio-buttons__checkbox(type="radio" name="gender" value='male')
      span.radio-buttons__label-text Мужчина
    label.radio-buttons__label
      input.radio-buttons__checkbox(type="radio" name="gender" value='female')
      span.radio-buttons__label-text Женщина
