$color-dark-100: #1F2041;
$color-dark-75: rgba(31, 32, 65, 0.75);
$color-dark-50: rgba(31, 32, 65, 0.5);
$color-dark-25: rgba(31, 32, 65, 0.25);
$color-purple: #BC9CFF;
$color-white: #fff;
$gradient-purple: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$gradient-green: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$font-size-default: 1.75rem;
