$color-dark-100: #1F2041;
$color-dark-75: rgba(31, 32, 65, 0.75);
$color-dark-50: rgba(31, 32, 65, 0.5);
$color-dark-25: rgba(31, 32, 65, 0.25);
$color-purple: #BC9CFF;
$color-white: #fff;

$font-size-default: 1.75rem;
