mixin expendable-fieldset
  fieldset.expendable-fieldset
    legend.expendable-fieldset__heading.h3 Expendable checkbox list
    .expendable-fieldset__container
      +checkbox("Завтрак")
      +checkbox("Письменный стол")
      +checkbox("Стул для кормления")
      +checkbox("Кроватка")
      +checkbox("Телевизор")
      +checkbox("Шампунь")
      +checkbox("Халат")
      +checkbox("Мини-бар")
