.slider {
  max-width: 266px;
  &__header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.noUi-horizontal {
  height: 0.6rem;
}
.noUi-target {
  background: $color-white;
  border-radius: 3px;
  border: 1px solid $color-dark-50;
  box-shadow: none;
}
.noUi-handle {
  border: 1px solid $color-white;
  border-radius: 50%;
  background: $gradient-green;
  cursor: default;
  box-shadow: none;
}
.noUi-handle:before,
.noUi-handle:after {
  content: none;
}
.noUi-horizontal .noUi-handle {
  width: 1.4rem;
  height: 1.4rem;
  top: -4px;
}
.noUi-connects {
  overflow: visible;
}
.noUi-connect {
  background: $gradient-green;
  height: 0.6rem;
}
.noUi-connect,
.noUi-origin {
  top: -1px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -10px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 3px;
}
