mixin slider(heading)
  .slider
    .slider__header-container
      h3.h3.slider__heading=heading
      .slider__values-container
        span.slider__value-lower
        span &nbsp;-&nbsp;
        span.slider__value-upper
    .slider__control
