mixin slider
  .form__container.form__container_column
    .form__container.form__container_space-between
      h3.h3.form__label_mb-20 Range slider
      .form__container
        span.value-lower
        span &nbsp;-&nbsp;
        span.value-upper
    .slider
