.checkbox {
  display: flex;
  align-items: center;
  color: $color-dark-75;
  position: relative;
  cursor: pointer;
  &__check {
    cursor: pointer;
    position: absolute;
    padding: 1.25rem;
    -webkit-appearance: none;
    top: 0;
    left: 0;
    // Состояние чекбокса
    &:hover {
      & + .checkbox__label::before {
        border-color: $color-purple;
      }
    }
    &:checked {
      & + .checkbox__label {
        color: $color-dark-100;

        &::after {
          opacity: 1;
        }
        &::before {
          border-color: $color-purple;
        }
      }
    }
  }
  &__label {
    display: flex;
    align-items: center;
    &::before {
      pointer-events: none;
      align-self: baseline;
      content: "";
      border: 1px solid $color-dark-50;
      border-radius: 4px;
      padding: 1.125rem;
      margin-right: 1.25rem;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    // Галочка
    &::after {
      content: "";
      opacity: 0;
      pointer-events: none;
      padding: 1.25rem;
      position: absolute;
      left: 0;
      top: 0;
      background: url("../images/sprite.svg#check-usage") 50% 40% no-repeat;
      background-size: 1.5rem;
    }
    &_rich {
      font-weight: bold;
    }
  }
  &_rich {
    display: grid;
    position: relative;
    color: $color-dark-100;
    &-text {
      color: $color-dark-75;
      margin-left: 30px;
      grid-row-start: 2;
    }
  }
}
