mixin checkbox(spanText)
  label.checkbox
    input.checkbox__check(type="checkbox")
    span.checkbox__label=spanText

mixin checkbox-fieldset
  fieldset.checkbox-fieldset
    legend.h3.checkbox-fieldset__heading Checkbox Buttons
    div.checkbox-fieldset__flex-container
      +checkbox("Можно курить")
      +checkbox("Можно с питомцами")
      +checkbox("Можно пригласить гостей (до 10 человек)")





mixin radio(firstSpanText, secondSpanText)
  .form__container
      label.form__check-label.form__radio-label
        input.form__check(type="radio" name="gender" value='male')
        span.form__check-label-text=firstSpanText
      label.form__check-label.form__radio-label
        input.form__check(type="radio" name="gender" value='female')
        span.form__check-label-text=secondSpanText

mixin switch(spanText)
    label.form__check-label.form__check-label_switch
      input.form__check.form__check_switch(type="checkbox", name="switch")
      span.form__check-label-text.form__check-label-text_switch=spanText
