<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
    title Toxin UI Kit Cards
  body
    include ../includes/formElements/btn/btn
    include ../includes/formElements/date-picker/date-picker
    include ../includes/formElements/dropdown/dropdown
    nav.nav
      a.h3(href="../index.html") Form Elements
      a.h3(href="assets/headers-and-footers.html") Headers & Footers
    main.main
      .main__container
        .card
          h1.h1 Найдём номера под ваши пожелания
          +date-picker('Прибытие', 'Выезд')
          +dropdown
          +btnBig('подобрать номер', 'btn_round u-mt-10')
