mixin subscribe
  .form__subscribe
    input.form__field.form__field_subscribe(type="email" placeholder="Email" id="subscribe")
    button.form__submit(type="submit")
      i.material-icons.form__arrow-icon arrow_forward
