<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    title Toxin UI Kit
  body
    main.main
      .main__container
        include ./includes/formElements/input/input
        include ./includes/formElements/checkbox/checkbox
        +input("Text field","Email","email-field","Email")
        +input("Text field","Email","email-field","Email")
        include ./includes/formElements/dropdown/dropdown
        +input("masked text field","date","date_field", "ДД.ММ.ГГГГ")
        +date
        .form_filter
          +filter("filter date dropdown","input-filter")
        include ./includes/formElements/subscribeForm/subscribe
      .main__container.form_filter
        +checkbox-btns
        .form__box.form__box_column
          h3.label.form__label_mb-16 Radio Buttons
          +radio
        .form_box
          h3.label.form__label_mb-16 Toggle
          +switch
