<!DOCTYPE html>
html(lang="en")
  include ./includes/formElements/btn/btn
  include ./includes/formElements/bullet-list/bullet-list
  include ./includes/formElements/checkbox-fieldset/checkbox-fieldset
  include ./includes/formElements/comment/comment
  include ./includes/formElements/date-filter/date-filter
  include ./includes/formElements/date-picker/date-picker
  include ./includes/formElements/details/details
  include ./includes/formElements/expendable-fieldset/expendable-fieldset
  include ./includes/formElements/input/input
  include ./includes/formElements/label/label
  include ./includes/formElements/like/like
  include ./includes/formElements/pagination/pagination
  include ./includes/formElements/radio-buttons/radio-buttons
  include ./includes/formElements/richbox-fieldset/richbox-fieldset
  include ./includes/formElements/slider/slider
  include ./includes/formElements/subscribe-form/subscribe
  include ./includes/formElements/star-rate/star-rate
  include ./includes/formElements/switch/switch
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    title Toxin UI Kit
  body

    nav.nav
      a.h3(href="pages/cards.html") Cards
      a.h3(href="pages/headers-and-footers.html") Headers & Footers
    main.form-elements-grid
      .form-elements-grid__column
        form.form
          +label('text field')
            +input("Email","Text field")
          +label('text field')
            +input("Email","Text field")
          //- Dropdown
          #dropdown-person
          //- Инпут для даты
          +label('masked text field')
            +input("date","ДД.ММ.ГГГГ")
          //- Календарь
          +date-picker('date dropdown', 'date dropdown')
          //- Календарь в фильтрах
        .filter
          +label('filter date dropdown')
            +date-filter('date-filter')
          //- Форма подписки
          +label('subscription text field')
            +subscribe
      .form-elements-grid__column
        .filter
          //- Чекбоксы
          +checkbox-fieldset
          //- Радио кнопки
          .form-elements-container
            h3.h3.form-elements-mb-16 Radio Buttons
            +radio-buttons
          //- Свичи
          .form-elements-container
            h3.h3.form-elements-mb-16 Toggle
            .form-elements-child-mb-14
              +switch('Получать спецпредложения')
              +switch('Получать спецпредложения')
          //-  Кнопки лайка
          .form-elements-container
            h3.h3.form-elements-mb-16 Like button
            .form-elements-flex-container
              +like('rating')
              +like('rating1')
          //- Рейтинг
          .form-elements-container
            h3.h3.form-elements-mb-16 Rate button
            .form-elements-flex-container.form-elements-child-mr-20
              +starRate
              +starRate
      .form-elements-grid__column
        .filter.form-elements-grid-gap-40
          //- Слайдер
          +slider("range slider")
          .form-elements-btn-grid
            h3.h3 Buttons
            .form-elements-btn-grid__container
              +btn_round('Click me')
              +btn_round-light('Click me')
            .form-elements-btn-grid__container
              +btn_outline('Click me')
              +btn_outline-light('Click me')
            .form-elements-btn-grid__container
              +btn('Click me')
              +btn_grey('Click me')
            +btn_big('перейти к оплате')
          //- Пагинатор
          .form-elements-container
            h3.h3.form-elements-mb-16 pagination
            +pagination
      .form-elements-grid__column.form-elements-grid__column_row-span-2
        .filter
          #dropdown-one
          #dropdown-two
          +expendable-fieldset
          +expendable-fieldset
          +details('emoticon', "Комфорт", "Шумопоглощающие стены")
          +details('location', "Удобство", "Окно в каждой из спален")
      .form-elements-grid__column
        .form
          #dropdown-three
          +richbox-fieldset
      .form-elements-grid__column
        .filter
          #dropdown-four
          +bullet-list
      .form-elements-grid__column.form-elements-grid__column_span-2
        +comment
