<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    title Toxin UI Kit
  body
    include ./includes/formElements/btn/btn
    include ./includes/formElements/checkbox/checkbox
    include ./includes/formElements/input/input
    include ./includes/formElements/date-picker/date-picker
    include ./includes/formElements/date-filter/date-filter
    include ./includes/formElements/label/label
    include ./includes/formElements/like/like
    include ./includes/formElements/slider/slider
    include ./includes/formElements/pagination/pagination
    include ./includes/formElements/subscribe-form/subscribe
    include ./includes/formElements/star-rate/star-rate
    main.main
      .main__container
        //- Простые инпут филды
        +label('text field')
          +input("Email","Text field")
        +label('text field')
          +input("Email","Text field")
        //- Dropdown
        include ./includes/formElements/dropdown/dropdown
        //- Инпут для даты
        +label('masked text field')
          +input("date","ДД.ММ.ГГГГ")
        //- Календарь
        .form__container.form__container_space-between.u-mt-40
          +label('date dropdown')
            +date-picker('datepick-1')
          +label('date dropdown')
            +date-picker('datepick-2')
        //- Календарь в фильтрах
        .u-mt-40
          +label('filter date dropdown')
            +date-filter("date-filter")
        //- Форма подписки
        +label('subscription text field')
          +subscribe
      .main__container.form_filter
        //- Чекбоксы
        fieldset.form__container.form__container_column.form__check-container
          legend.h3.form__label_mb-16 Checkbox Buttons
          +checkbox("Можно курить")
          +checkbox("Можно с питомцами")
          +checkbox("Можно пригласить гостей (до 10 человек)")
        //- Радио кнопки
        .form__container.form__container_column.u-mt-40
          h3.h3.form__label_mb-16 Radio Buttons
          +radio("Мужчина","Женщина")
        //- Свичи
        .form__container.form__container_column.u-mt-40
          h3.h3.form__label_mb-16 Toggle
          .form__container.form__container_column.u-child-mb-14
            +switch('Получать спецпредложения')
            +switch('Получать спецпредложения')
        //-  Кнопки лайка
        .form__container.form__container_column.u-mt-40
          h3.h3.form__label_mb-16 Like button
          .form__container
            +like('rating')
            +like('rating1')
        //- Рейтинг
        .form__container.form__container_column.u-mt-40
          h3.h3.form__label_mb-16 Rate button
          .form__container.u-child-mr-20
            +starRate
            +starRate
      .main__container
        //- Слайдер
        +slider
        .form__container.form__container_column
          h3.h3.form__label_mb-16 Buttons
          .form__container.u-child-mr-20
            +btn('Click me','btn_round')
            +btn('Click me','btn_round btn_opacity')
          .form__container.u-child-mr-20.u-mt-30
            +btn('Click me','btn_border')
            +btn('Click me','btn_border btn_border-opacity')
          .form__container.u-child-mr-20.u-mt-30
            +btn('Click me')
            +btn('Click me', 'btn_shade')
          +btnBig('перейти к оплате', 'btn_round u-mt-30')
          .form__container.form__container_column.u-mt-30
            h3.h3.form__label_mb-16 pagination
            +pagination
