<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
    title Toxin UI Kit
  body
    main.main
      .container
        include ./includes/formElements/input/input
        +input("Email","Email","email-field","Email")
        include ./includes/formElements/dropdown/dropdown
        +input("Дата рождения","date","date-field","Да.ММ.ГГГГ")
        input(type="text" id="datepicker")
