form.subscribe
  label.label.subscribe__label(for="subscribe") subscription text field
  .subscribe__container
    input.subscribe__input(type="email" placeholder="Email" id="subscribe")
    button.subscribe__submit(type="submit")
      i.material-icons.subscribe__icon arrow_forward
