<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
    title Toxin UI Kit Cards
  body
    include ../../includes/cards/login/login
    include ../../includes/cards/registration/registration
    include ../../includes/cards/room-booking/room-booking
    include ../../includes/cards/room-search/room-search

    nav.nav
      a.h3(href="../../../index.html") Form Elements
      a.h3(href="pages/headers-and-footers.html") Headers & Footers
    main.main
      .main__container
        +room-search
        +registration
      .main__container
        +room-booking
        +login
