// Отступ для label
.dropdown__label {
  margin-bottom: 0.5rem;
}

// Чекбокс, раскрывающий меню, скрыт
.dropdown__checkbox {
  display: none;
  &:checked ~ .dropdown__placeholder {
    border: 1px solid $color-dark-50;
    border-radius: 4px 4px 0 0;
    &::after {
      transform: rotate(225deg);
      top: 40%;
    }
  }
  &:checked ~ .dropdown__menu {
    box-shadow: 0px 10px 20px $color-dark-50;
    height: 159px;
    opacity: 1;
    transform: translateY(0);
    padding: 1rem 1rem 1.5rem 2rem;
  }
}
// Поле для клика, открывающее меню
.dropdown__placeholder {
  background-color: $color-white;
  border: 1px solid $color-dark-50;
  border-radius: 4px 4px 0 0;
  color: $color-dark-75;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-default;
  position: relative;
  padding: 1.5rem 2rem;
  user-select: none;
  width: 100%;
  z-index: 1;
  &::after {
    content: "";
    border: solid;
    border-color: $color-dark-50;
    border-width: 0 0.3rem 0.3rem 0;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    right: 5%;
    transform: rotate(225deg);
    top: 40%;
    transition: all 0.5s;
  }
  &_hidden {
    border: 1px solid $color-dark-25;
    border-radius: 4px;
    &::after {
      top: 35%;
      transform: rotate(45deg);
    }
  }
}
// Dropdown меню
.dropdown__menu {
  border: 1px solid $color-dark-50;
  border-radius: 0 0 4px 4px;
  border-top: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
  box-shadow: 0px 10px 20px $color-dark-50;
  height: 159px;
  opacity: 1;
  transform: translateY(0);
  // translateZ включает hardware acceleration, так анимация не тормозит вроде
  transform: translateZ(0);
  padding: 1rem 1rem 1.5rem 2rem;
  &_hidden {
    box-shadow: none;
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
    // padding: 1rem 1rem 1.5rem 2rem;
  }
  // Позиционирование контейнеров внутри меню
  & > .dropdown__container {
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:last-child {
      margin-top: 2rem;
    }
  }
}

// Контейнер для центрирования инпутов
.dropdown__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Dropdown инпут между кнопками
.dropdown__input {
  border: none;
  color: $color-dark-100;
  font-family: inherit;
  font-size: $font-size-small;
  font-weight: bold;
  text-align: center;
  width: 4rem;
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

// Круглые кнопки рядом с инпутом
.dropdown__value-btn {
  border: 1px solid $color-dark-25;
  border-radius: 50%;
  color: $color-dark-50;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  user-select: none;
}

// Кнопки внизу dropdown меню
.dropdown__btn-clear {
  opacity: 1;
  cursor: pointer;
  &_hidden {
    opacity: 0;
    cursor: default;
  }
}
.dropdown__btn-accept {
  margin-left: auto;
}
