:root {
  --dropdown-color-dark-100: #1f2041;
  --dropdown-color-dark-75: rgba(31, 32, 65, 0.75);
  --dropdown-color-dark-50: rgba(31, 32, 65, 0.5);
  --dropdown-color-dark-25: rgba(31, 32, 65, 0.25);
  --dropdown-color-dark-10: rgba(31, 32, 65, 0.1);
  --dropdown-color-dark-5: rgba(31, 32, 65, 0.05);
  --dropdown-color-white: #fff;
  --dropdown-default-font-size: 14px;
  --dropdown-small-font-size: 12px;
}

// Отступ для label
.dropdown__heading {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--dropdown-color-dark-100);
  margin-bottom: 0.5rem;
}

// Поле для клика, открывающее меню
.dropdown__title {
  background-color: var(--dropdown-color-white);
  border: 1px solid var(--dropdown-color-dark-50);
  border-radius: 4px 4px 0 0;
  color: var(--dropdown-color-dark-75);
  cursor: pointer;
  display: inline-block;
  font-size: var(--dropdown-default-font-size);
  position: relative;
  padding: 1.5rem 2rem;
  user-select: none;
  width: 100%;
  z-index: 1;
  &::after {
    content: "";
    border: solid;
    border-color: var(--dropdown-color-dark-75);
    border-width: 0 0.3rem 0.3rem 0;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    right: 5%;
    transform: rotate(225deg);
    top: 40%;
    transition: all 0.5s;
  }
  &_hidden {
    border: 1px solid var(--dropdown-color-dark-25);
    border-radius: 4px;
    &::after {
      top: 35%;
      transform: rotate(45deg);
    }
  }
}
// Dropdown меню
.dropdown__menu {
  box-sizing: border-box;
  border: 1px solid var(--dropdown-color-dark-50);
  border-radius: 0 0 4px 4px;
  border-top: none;
  display: grid;
  row-gap: 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 100%;
  max-height: 500px;
  box-shadow: 0px 10px 20px var(--dropdown-color-dark-5);
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  padding: 1rem 1rem 1.5rem 2rem;
  &_hidden {
    pointer-events: none;
    box-shadow: none;
    max-height: 0;
    padding: 0 1rem 0 2rem;
    opacity: 0;
    transform: translateY(-30%);
  }
}

// Контейнер для центрирования инпутов
.dropdown__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_btn {
    margin-top: 1rem;
  }
}

// Dropdown инпут между кнопками
.dropdown__input {
  border: none;
  color: var(--dropdown-color-dark-100);
  font-family: inherit;
  font-size: var(--dropdown-small-font-size);
  font-weight: bold;
  text-align: center;
  width: 4rem;
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

// Круглые кнопки рядом с инпутом
.dropdown__value-btn {
  border: 1px solid var(--dropdown-color-dark-50);
  background: #fff;
  border-radius: 50%;
  color: var(--dropdown-color-dark-50);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  user-select: none;
}

.dropdown__value-btn_disabled {
  border: 1px solid var(--dropdown-color-dark-25);
  color: var(--dropdown-color-dark-25);
  cursor: default;
}
// Кнопки внизу dropdown меню
.dropdown__btn-clear {
  opacity: 1;
  cursor: pointer;
  &_hidden {
    opacity: 0;
    cursor: default;
  }
}
