.dropdown
  h3.h3.dropdown__label Dropdown
  input.dropdown__checkbox(type="checkbox", name="dropdown" id="dropdown")
  label.dropdown__placeholder(for="dropdown") Сколько гостей
  .dropdown__menu
    label.h3.dropdown__container Взрослые
      .dropdown__container
        .dropdown__value-btn(value="Decrease Value") -
        input.dropdown__input(type="number" value="0")
        .dropdown__value-btn(value="Increase Value") +
    label.h3.dropdown__container Дети
      .dropdown__container
        .dropdown__value-btn(value="Decrease Value") -
        input.dropdown__input(type="number" value="0")
        .dropdown__value-btn(value="Increase Value") +
    label.h3.dropdown__container Младенцы
      .dropdown__container
        .dropdown__value-btn(value="Decrease Value") -
        input.dropdown__input(type="number" value="0")
        .dropdown__value-btn(value="Increase Value") +
    .dropdown__container
      button.btn.btn-shade.dropdown__btn-clear очистить
      button.btn.dropdown__btn-accept применить
