.dropdown
  label.dropdown__placeholder.js-dropdown__placeholder(for="dropdown") Сколько гостей
  input.dropdown__checkbox(type="checkbox", name="dropdown" id="dropdown")
  .dropdown__menu
    .dropdown__item
      label.label Взрослые
      .dropdown__input-container
        .dropdown__value-btn.js-dropdown__value-btn(value="Decrease Value") -
        input.dropdown__input.js-dropdown__input(type="number" value="0")
        .dropdown__value-btn.js-dropdown__value-btn(value="Increase Value") +
    .dropdown__item
      label.label Дети
      .dropdown__input-container
        .dropdown__value-btn.js-dropdown__value-btn(value="Decrease Value") -
        input.dropdown__input.js-dropdown__input(type="number" value="0")
        .dropdown__value-btn.js-dropdown__value-btn(value="Increase Value") +
    .dropdown__item
      label.label Младенцы
      .dropdown__input-container
        .dropdown__value-btn.js-dropdown__value-btn(value="Decrease Value") -
        input.dropdown__input.js-dropdown__input(type="number" value="0")
        .dropdown__value-btn.js-dropdown__value-btn(value="Increase Value") +
    .dropdown__btn-container
      button.btn.btn-shade.dropdown__btn-clear.js-dropdown__btn-clear очистить
      button.btn.dropdown__btn-accept.js-dropdown__btn-accept применить
