mixin expendable-list
  fieldset.form__container.form__container_column.form__expendable-list
    legend.form__expendable-legend.h3.form__label_mb-16 Expendable checkbox list
    .form__check-container
      +checkbox("Завтрак")
      +checkbox("Письменный стол")
      +checkbox("Стул для кормления")
      +checkbox("Кроватка")
      +checkbox("Телевизор")
      +checkbox("Шампунь")
      +checkbox("Халат")
      +checkbox("Мини-бар")
